<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Your exercise list has been updated!</p>
    <p>
    Exercises: <br>
    --------------------------
    </p>
    <% @exercises.each do |exercise|%>
      <p> <%= Exercise.find_by(id: exercise).name %></p>
    <% end %>
  </body>
</html>
