<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You have been assigned new exercises!</p>
    <p>
    Exercises: <br>
    --------------------------
    </p>
    <% @exercises.each do |exercise|%>
      <p> <%= exercise %></p>
    <% end %>
  </body>
</html>

