<%= render 'exercises/exercises', exercises: exercises %>
<br>

<div class="container">
  <div class="card bg-dark text-warning">
    <div class="card-body">
      <h3 style="text-align:center">Exercise Completion Status</h3>
      
      <%= render 'shared/progress' %>
      
      <!--Start exercise button-->
      <%= link_to 'Start Set', start_set_user_path(current_user), class: "btn btn-secondary text-warning"%>
    </div>
  </div>
  <br>
  <br>

  <div class="card bg-dark text-warning">
    <div class="card-body">
      <h3 style="text-align:center">Diet Plan</h3>
      <%= render "diets/diets" %>
    </div>
  </div>
</div>
