// Place all the styles related to the Exercise controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.prop:link {text-decoration: none;}
a.prop:visited {text-decoration: none;}
a.prop:hover {font-size: 150%;}
