<div class="user-exercises">
  <h3 class="text-warning" style="text-align:center">Exercises</h3>
  <table class="table text-warning table-hover table-borderless">
    <thead class="table-dark text-warning">
      <tr>
        <th style="text-align:start">Name</th>
        <% if current_user.trainee? %>
          <th style="text-align:end">Favourite/Unfavourite</th>
        <% else %>
        <th style="text-align:end">No. Of Users</th>
        <% end %> 
      </tr>
    </thead>
    <tbody>
      <% exercises.each do |exercise| %>
        <tr class="toggle-fav-<%= exercise.id %>">
          <%= render 'exercises/exercise_list_row', exercise: exercise%>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 d-flex justify-content-center">  
      <%== render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} %>
    </div>
  </div>
</div>
